<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<div>
    <div class="container button__container">
    <a href="/books/" class="btn btn-primary">Books</a>
    </div>
    <h2><a href="/books/{{ book.id }}">{{ book.title }}</a></h2>
    <img src="{{ book.image.url }}" alt="">
    <p>{{ book.description }}</p>

</div>
<button type="button" class="btn btn-primary"><a href="/books/{{ book.id }}/update/">Change</a></button>
<button type="button" class="btn btn-primary"><a href="/books/{{ book.id }}/delete/">Delete</a></button>
</body>
</html>