<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css/' %}" />
</head>
<body>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="/productsCL1/{{ i.id }}/">Active</a>
      </li>
      <li class="nav-item">
        <a href="/productsCL1/{{ i.id }}/" class="btn btn-primary">Go detail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>



      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>




</div>
<div>
    <ul>
        {% for i in object_list %}
        <li>
            <h2><a href="/productsCL/{{ i.id }}">{{ i.name }}</a></h2>
            <img src="{{ i.image.url }}" alt="">
        </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
