<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css/' %}" />
</head>
<body>

{% for i in object_list %}
<div class="card-group">

<div class="card">

    <div class="card-body">
        <h2>Comments: </h2>
        <ul>
            {% for i in object_list.commentsCL.all %}
            <div  class="comment">
                    <p class="info">Comment {{ forloop.counter }} by {{ i.nameCL }} {{ i.createdCL }}</p>
                    {{ i.bodyCL|linebreaks }}
                </div>
            <li>
                <p>{{ i.bodyCL }}</p>
                <p>{{ i.nameCL }}</p>

      <h5 class="card-title">Card title</h5>
      <p class="card-text">{{ i.bodyCL }}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </li>
            {% endfor %}
        </ul>
    </div>
  </div>

  <div class="card">

    <div class="card-body">

            {% with commentsCL.count as total_comments %}
                <h2 class="card-text" >{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
            {% endwith %}

            {% for i in object_list.commentsCL.all %}
                <div  class="comment">
                    <p class="info">Comment {{ forloop.counter }} by {{ i.nameCL }} {{ i.createdCL }}</p>
                    {{ i.body|linebreaks }}
                </div>
            {% empty %}
                <p class="card-text" >There are no comments yet.</p>
            {% endfor %}

                {% if new_comment %}
                <h2 class="card-text" >Your comment has been added.</h2>
            {% else %}
                <h2 class="card-text" >Add a new comment</h2>
                <form class="card-body" action="/add-comment-productsCL/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="card-body" type="submit" value="Add Comment" />
            </form>
            {% endif %}
      <h5 class="card-title">Card title</h5>
      <p class="card-text">{{ object.description }}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
     </div>
  </div>



  <div class="card">
    <img src="{{ i.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h2><a href="/productsCLCOMM/">{{ i.nameCL }}</a></h2>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
{% endfor %}
</body>
</html>